<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SUAIMentor</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/media/favicon-32x32.png" />
<link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">  </head>
  <body>
    {% include "header.html" %}
    <section class="section__documentation">
      <div class="first__block">
        <span class="first__block__text Ubuntu-text-700"
          >Мы поможем с поиском научного руководителя и написанием диплома</span>
        <img
          class="first__block__img"
          src="../static/media/image-old-man.svg"
          alt="old man image"
        />
      </div>
      <div class="second__block">
        <img
          class="second__block__img"
          src="../static/media/Girl.svg"
          alt="girl image"
        />
        <div class="second__block__text">
          <p class="second__block__main__text Ubuntu-text-500">
            Найдите руководителя
          </p>
          <p class="second__block__additional__text Ubuntu-text-300">
            На нашем сайте Вы найдете обширный список руководителей, которые
            работают в ГУАПе
          </p>
        </div>
      </div>
      <div class="third__block">
        <div class="third__block__text">
          <p class="third__block__main__text Ubuntu-text-500">
            Изучите документацию
          </p>
          <p class="third__block__additional__text Ubuntu-text-300">
            Мы собрали коллекцию работ и научных документов, которые помогут Вам при написании дипломной работы
          </p>
        </div>
        <img
          class="third__block__img"
          src="../static/media/Docs.svg"
          alt="docs image"
        />
      </div>
      <div class="fourth__block">
        <img
          class="fourth__block__img"
          src="../static/media/young-man.svg"
          alt="young man image"
        />
        <div class="fourth__block__text">
          <p class="fourth__block__main__text Ubuntu-text-500">
            Оставляйте отзывы
          </p>
          <p class="fourth__block__additional__text Ubuntu-text-300">
            Помогите таким же студентам с выбором научного руководителя
          </p>
        </div>
      </div>
      </div>
    </section>
    {% include "footer.html" %}
    <div class="ellipse-1"></div>
    <div class="ellipse-2"></div>
    <div class="ellipse-3"></div>
    <div class="ellipse-4"></div>
    <div class="ellipse-5"></div>
    <div class="ellipse-6"></div>
    <div class="ellipse-7"></div>
    <div class="ellipse-8"></div>
    <div class="ellipse-9"></div>
    <div class="ellipse-10"></div>
    <div class="ellipse-11"></div>
    <div class="ellipse-12"></div>
  </body>
</html>
