<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SUAIMentor</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/media/favicon-32x32.png" />
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', path='/js/server_data.js') }}"></script>
    <script src="{{ url_for('static', path='/js/teachers_script.js') }}"></script>
  </head>
  <body>
    {% include "header.html" %}

    <main>
      <section class="teachers__section">
        <p class="Ubuntu-text-700-documentation teachers__list__text">Список научных руководителей</p>
        <div class="teachers__list">

        </div>
      </section>
    </main>

    {% include "footer.html" %}

  </body>
</html>
