/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
 /* Acorn-regular*/
@font-face {
    font-family: "Acorn";
    src: local("Acorn-Regular"),
    url("fonts/Acorn-Regular.woff2") format("woff2"),
    url(".fonts/Acorn-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/* ubuntu-300 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/ubuntu-v20-cyrillic_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* ubuntu-regular - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/ubuntu-v20-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* ubuntu-500 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/ubuntu-v20-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* ubuntu-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/ubuntu-v20-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
.header{
    max-height: 70px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
}
.logo{
    /* width: max-content; */
    /* display: flex;
    flex-wrap: wrap; 
    align-items: center; */
    /* text-align: center; */
    margin-left: 71px;
    margin-top: 11px;
    margin-bottom: 8px;
    text-align: center;
    align-items: center;
}
.logo__pic{
    /* padding-left: 71px; */
    width: 50px;
    height: 50px;
}
.header__logo__link{
    display: flex;
    text-align: center;
}
.logo__text{
    color: #000;
    font-family: 'Acorn';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.4%;

    margin-left: 20px;
    margin-top: 1px;
    /* margin-top: 14px; */
    /* margin-left: 20px; */
}
a{
    text-decoration: none;
}
.header__nav{
    height: 100%;
    padding-left: 10.5rem;
}
.header__list{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.Ubuntu-text-700{
    color: #000;
    font-family: 'Ubuntu';
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.Ubuntu-text-700-documentation{
    color: #000;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 143.4%; /* 51.624px */
}
.Ubuntu-text-700-teachers{
    color: #000;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 143.4%; /* 51.624px */
}
.Ubuntu-text-500{
    color: #000;
    font-family: 'Ubuntu';
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.Ubuntu-text-500-documentation{
    color: #000;
    font-family: 'Ubuntu';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 143.4%; /* 45.888px */
}
.Ubuntu-text-500-teacher{
    color: #000;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 143.4%; /* 34.416px */
}
.Ubuntu-text-500-teacher2{
    color: #000;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 143.4%; /* 34.416px */
}
.Ubuntu-text-400{
    font-family: 'Ubuntu';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Ubuntu-text-400-documentation{
    color: #000;
    font-family: 'Ubuntu';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.4%;
}
.Ubuntu-text-400-teacher{
    color: #000;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Ubuntu-text-400-documentation2{
    color: #000;
    font-family: 'Ubuntu';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.4%;
}
.Ubuntu-text-400-documentation3{
    color: #000;
    font-family: 'Ubuntu';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.4%;
}
.Ubuntu-text-300{
    color: #000;
    font-family: 'Ubuntu';
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;}
.Ubuntu-text-300-teacher{
    color: #000;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.header__item{
    height: 100%;
    color: #000;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 59px;
}

.header__item:last-child{
    margin-right: 71px;
}
.header__link{
    color: #000;
    height: 100%;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header__link:hover{
    color: #464646;
}
/* .header__list{
    display: flex;
    flex-wrap: wrap;
} */
.first__block{
    width: 100%;
    max-height: 570px;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.first__block__text{
    margin-left: 96px;
    margin-top: 155px;
    max-width: 750px;
    z-index: 1;
}
.first__block__img{
    max-width: 570px;
    max-height: 570px;
    z-index: 5;
}
.second__block{
    max-height: 570px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.second__block__text{
    margin-right: 182px;
    margin-top: 143px;
    max-width: 457px;
    z-index: 5;
}
.second__block__main__text{
    text-align: right;
}
.second__block__additional__text{
    max-width: 437px;
    margin-left: 20px;
    margin-top: 4px;
    text-align: right;
}
.second__block__img{
    max-width: 570px;
    max-height: 570px;
}
.third__block{
    max-height: 570px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.third__block__text{
    margin-left: 183px;
    margin-top: 139px;
    max-width: 456px;
    z-index: 5;
}
.third__block__main__text{
    text-align: left;
}
.third__block__additional__text{
    margin-top: 13px;
    text-align: left;
}
.third__block__img{
    max-width: 787px;
    max-height: 570px;
    z-index: 1;
}
.fourth__block{
    max-height: 570px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.fourth__block__text{
    margin-right: 182px;
    margin-top: 179px;
    max-width: 437px;
    z-index: 5;
}
.fourth__block__main__text{
    text-align: right;
}
.fourth__block__additional__text{
    max-width: 437px;
    margin-left: 20px;
    margin-top: 4px;
    text-align: right;
}
.fourth__block__img{
    max-width: 570px;
    max-height: 570px;
    z-index: 1;
}
.das{
    color: #000;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ellipse-1{
    position: absolute;
    top: 70px;
    /* left: -100px; */
    width: 428px;
    height: 550px;
    background-repeat: no-repeat;
    background-image: url('media/Ellipse-1.png');
}
.ellipse-2{
    position: absolute;
    top: 129px;
    width: 408px;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url('media/Ellipse-2.png');
}
.ellipse-3{
    position: absolute;
    top: 256px;
    left: 384px;
    width: 450px;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url('media/Ellipse-3.png');
}
.ellipse-4{
    position: absolute;
    top: 415px;
    right: -134px;
    width: 500px;
    height: 800px;
    background-repeat: no-repeat;
    background-image: url('media/Ellipse-4.png');

}
.ellipse-5{
    position: absolute;
    top: 887px;
    right: 195px;
    width: 900px;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url('media/Ellipse-5.png');
}
.ellipse-6{
    position: absolute;
    top: 1179px;
    left: 0px;
    width: 900px;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url('media/Ellipse-6.png');
}
.ellipse-7{
    position: absolute;
    top: 1431px;
    right: 35px;
    width: 900px;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url('media/Ellipse-7.png');
}
.ellipse-8{
    position: absolute;
    top: 1233px;
    right: -600px;
    width: 900px;
    height: 700px;
    background-repeat: no-repeat;
    background-image: url('media/Ellipse-8.png');
}
.ellipse-9{
    position: absolute;
    top: 1800px;
    right: -41px;
    width: 900px;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url('media/Ellipse-9.png');
}
.ellipse-10{
    position: absolute;
    top: 1664px;
    left: 117px;
    width: 900px;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url('media/Ellipse-10.png');
}
.ellipse-11{
    position: absolute;
    top: 1804px;
    right: -555px;
    width: 900px;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url('media/Ellipse-11.png');
}
.ellipse-12{
    position: absolute;
    top: 1865px;
    right: -610px;
    width: 900px;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url('media/Ellipse-12.png');
}
footer{
    background-color: #464646;
    max-height: 240px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding-bottom: 61px;
    padding-top: 31px;
    padding-left: 71px;
}
.footer__text__block{
    display: flex;
    flex-wrap: wrap;
}
.footer__first__text{
    padding-right: 103px;
}
/* .footer__logo{
    text-align: center;
    align-items: center;
    display: flex;
} */
.footer__logo__link{
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: 'Acorn';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.4%; /* 51.624px */
}
.footer__logo__text{
    margin-left: 20px;
}
.footer__logo__pic{
    width: 50px;
    height: 50px;
}
.footer__mail__link{
    margin-top: 23px;
    color: white;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer__link{
    color: white;
}
.footer__copyright{
    margin-top: 24px;
}
.footer__list{
    padding-top: 14px;
}
.footer__item{
    padding-bottom: 24px;
}
.footer__item:last-child{
    padding-bottom: 0px;
}
.active{
    font-weight: bold;
}
main{
    background-image: url("media/backgroung.png");
    background-size: cover;
    object-fit: cover;
}
.documentation__section{
    min-width: 1258px;
    padding: 29px 91px 48px 91px;
}
.teachers__section{
    min-width: 1258px;
    padding: 33px 91px 13rem 91px;
}
.teacher__page__section{
    padding: 3rem 10rem 24rem 10rem;
    display: flex;
    flex-wrap: wrap;
}
.documentation__text__block{
    background-color: rgba(255, 255, 255, 0.50);
    margin-top: 37px;
}
.documentation__text__div{
    padding: 47px 71px 160px 71px;
}
.documentation__list{
    padding-left: 2rem;
    list-style-type: disc;
}
.documentation__link{
    color: #000;
    text-decoration: underline;
}
.documentation__link:hover{
    color: #CE242B;
}
.documentation__rules__list li{
    margin-top: 2rem;
}
ul > .card__teacher{
    margin-right: 5rem;
    max-width: 22.813rem;
    max-height: 22.813rem;
    text-align: center;
    align-items: center;
    padding: 1.5rem 3.625rem;
}
ul.row__blue > .card__teacher{
    background-color: rgba(183, 207, 255, 0.50);
}
ul.row__grey > .card__teacher{
    background-color: rgba(238, 238, 238, 0.50);
}
li.card__teacher:last-child{
    margin-right: 0;
}
ul.row{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.teacher__image{
    max-width: 12.625rem;
    max-height: 12.625rem;
}
.teacher__name{
    width: fit-content;
    height: 4.188rem;
    text-align: center;
    border-radius: 15px;
    background: #FFF;
    margin-top: 7px;
    margin-bottom: 3px;
}
.teachers__list__text{
    margin-bottom: 1.5rem;
}
.teacher__link{
    color: #000;
    text-decoration: none;
}
.teacher__page__section{
    padding: 10rem 4rem;
    justify-content: center;
}
.teacher__bio{
    width: 22rem;
    height: fit-content;
    padding-right: 4rem;
    text-align: center;
    
}
.bio__teacher__name{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
}
.bio__teacher__job{
    border-radius: 15px;
    background-color: #0A5BBD;
    color: #FFF;
    width: 220px;
    height: fit-content;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    /* justify-content: center; */
    padding: 6px 21px;
    margin-bottom: 18px;
    /* flex-shrink: 0; */
}
.bio__teacher__image{
    width: 18rem;
    height: 18rem;
    margin-bottom: 6px;
}
.teacher__answers__block{
    width: 46rem;
    height: fit-content;
    border-radius: 10px;
    background-color: #FFF;
    padding-bottom: 5%;
}
.teacher__answers__text{
    padding: 16px  10px 100px 34px;
}
.bio__teacher__department__email{
    text-align: left;
    width: 293px;
    min-height: 102px;
    border-radius: 10px;
    border: 1px solid #0A5BBD;
    background-color: rgba(255, 255, 255, 0.57);
    padding: 19px 20px 13px 20px;
    height: fit-content;
}
.bio__teacher__department{
    margin-bottom: 5px;
    width: fit-content;
    word-break: break-all;
}
.bio__teacher__email{
    width: fit-content;
    word-break: break-all;
}